/*-----------------------------INDEX-----------------------------*/
body {
  background-image: url(../Images/fondo.jpg);
  margin: 0; }

input {
  width: 100%;
  background: #fff;
  border: 2px solid transparent;
  border-radius: 3px;
  height: 25px;
  line-height: 45px;
  padding: 0 40px 0 10px;
  transition: .3s ease all;
  align-self: center; }
  input:focus {
    outline: none; }

body .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #2f8e62; }
  body .navbar a {
    text-decoration: none;
    color: white;
    font-family: 'Benne', serif;
    font-size: 1.2rem; }
    body .navbar a:hover {
      color: #9dafcb; }

body .navbarIndex {
  display: none; }

#navbarIndex {
  margin: 2% auto 1%;
  border-radius: 10px;
  justify-content: space-evenly;
  width: 40%; }

.bodyflex {
  display: flex;
  flex-direction: column; }

.bodygrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "izq centro der" "izq2 centro2 der2"; }

.TablaDatos {
  text-align: center;
  color: aliceblue;
  background-color: cadetblue; }

.validacion {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px;
  grid-template-areas: "izq centro der" "izq2 centro2 der";
  border-radius: 5px;
  justify-items: center;
  margin: 0 auto;
  position: relative; }
  .validacion__usuario {
    display: flex;
    flex-direction: row;
    background-color: cadetblue;
    height: fit-content;
    grid-area: centro;
    border-radius: 5px;
    padding: 2%;
    width: 90%;
    align-self: center; }
    .validacion__usuario--label {
      padding: 4px; }
  .validacion__apellido {
    display: flex;
    margin: 5% auto 5%;
    flex-direction: row; }
    .validacion__apellido--input {
      margin: 0 0 0 0.8%; }
  .validacion__clave {
    display: flex;
    flex-direction: row;
    background-color: cadetblue;
    height: fit-content;
    grid-area: centro2;
    border-radius: 5px;
    padding: 2%;
    width: 90%;
    align-self: baseline; }
    .validacion__clave--input {
      margin: 0 0 0 9%; }
    .validacion__clave--label {
      padding: 1.5%; }

#usuarioValidacion {
  width: 28%;
  margin: auto; }

#claveValidacion {
  width: 28%;
  margin: auto auto auto 7.5%; }

.instrucciones {
  grid-area: der;
  margin: 7% 0 0 0;
  font-family: 'Cabin', sans-serif;
  display: none; }

/*-----------------------------REGISTRO-----------------------------*/
.registro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: max-content;
  margin: 0 auto;
  background-color: cadetblue;
  border-radius: 10px;
  padding: 2%; }
  .registro__usuario {
    display: flex;
    margin: 5% auto 5%;
    flex-direction: row; }
    .registro__usuario--label {
      padding: 4px;
      margin: 0 5% 0 0; }
  .registro__apellido {
    display: flex;
    margin: 0 0 4% 0;
    flex-direction: row; }
    .registro__apellido--input {
      margin: 0 0 0 0.8%; }
    .registro__apellido--label {
      margin: 0 1% 0 0; }
  .registro__clave {
    display: flex;
    flex-direction: row; }
    .registro__clave--input {
      margin: 0 0 0 6.5%; }
    .registro__clave--label {
      margin: 0 4% 0 0; }

.boton {
  margin: 5% 0 0 0;
  height: 30px; }

#boton {
  width: max-content;
  margin: 10% auto;
  padding: 1%;
  background-color: #71dbb3;
  border: aliceblue;
  border-radius: 20px;
  font-family: 'Cabin', sans-serif; }

#botonValidacion, #botonRegistro, #botonEnvioRegistro, #botonRetiro, #plazoFijo__boton--calculo, .btnCompraUSD, .btnCuentas {
  margin: 3% auto 0;
  width: max-content;
  font-size: 1.2rem;
  background-color: darkcyan;
  color: aliceblue;
  border: aliceblue;
  border-radius: 5px;
  padding: 1% 3% 1%;
  font-family: 'Cabin', sans-serif; }
  #botonValidacion__link, #botonRegistro__link, #botonEnvioRegistro__link, #botonRetiro__link, #plazoFijo__boton--calculo__link, .btnCompraUSD__link, .btnCuentas__link {
    text-decoration: none;
    color: aliceblue; }
    #botonValidacion__link:hover, #botonRegistro__link:hover, #botonEnvioRegistro__link:hover, #botonRetiro__link:hover, #plazoFijo__boton--calculo__link:hover, .btnCompraUSD__link:hover, .btnCuentas__link:hover {
      color: #9dafcb; }

.botones {
  text-align: center; }

label {
  color: white;
  border-radius: 10px;
  padding: 3%;
  font-family: 'Cabin', sans-serif;
  font-size: 1.3rem; }

h1 {
  text-align: center;
  background-color: #104146;
  border-radius: 10px;
  padding: 1%;
  color: #ffffff;
  display: block;
  margin: 4% auto;
  font-family: 'Cabin', sans-serif;
  opacity: 0; }

.h1Registro, .h1Operaciones, .h1Cuenta, .h1Clientes {
  color: white;
  margin: 2% auto;
  font-family: 'Cabin', sans-serif;
  grid-area: centro; }

h3 {
  display: none; }

#bienvenidaUsuario {
  background-color: #42db61;
  text-align: center;
  color: white;
  border-radius: 20px;
  padding: 0 10px 0 10px;
  margin: 2% auto;
  font-family: 'Cabin', sans-serif;
  height: max-content;
  width: max-content; }

#error {
  background-color: #bd280e;
  text-align: center;
  color: white;
  border-radius: 20px;
  padding: 0 10px 0 10px;
  margin: 1% auto;
  font-family: 'Cabin', sans-serif;
  height: max-content;
  width: max-content; }

.linkExtracciones {
  text-align: center;
  text-decoration: none;
  color: aliceblue;
  background-color: cadetblue;
  width: max-content;
  margin: 40% auto 0;
  border-radius: 5px;
  padding: 5px;
  font-family: 'Cabin', sans-serif;
  grid-area: centro2;
  height: fit-content;
  display: none; }
  .linkExtracciones:hover {
    color: #9dafcb; }

.errorRegistro {
  /*Mensaje de error cuando el usuario no completa algun campo de los inputs*/
  color: white;
  background-color: #f2d359;
  width: max-content;
  margin: 25% auto 0;
  padding: 2%;
  border-radius: 20px;
  font-family: 'Cabin', sans-serif;
  display: none;
  grid-area: centro2; }

.okRegistro {
  color: white;
  background-color: #59f27f;
  width: max-content;
  padding: 2%;
  border-radius: 20px;
  font-family: 'Cabin', sans-serif;
  display: none;
  grid-area: centro;
  height: fit-content;
  font-size: 1.5em;
  align-self: flex-end;
  margin: 15% auto 0; }

.fieldOk {
  border-color: #19f819; }

.fieldFail {
  border-color: #f73d3d; }

.fa-check-circle {
  color: #19f819;
  font-size: x-large;
  display: block;
  margin: 1%;
  background-color: white;
  border-radius: 80%;
  height: min-content; }

.registro__parrafo {
  font-size: 12px;
  margin-bottom: 0;
  display: none;
  text-align: center;
  color: white; }

.registro__parrafo--mostrar {
  display: block; }

.desabilitar-boton {
  cursor: not-allowed;
  opacity: 0.5; }

.botonAPI {
  width: max-content;
  margin: 5% auto;
  color: white;
  background-color: #59f27f;
  width: max-content;
  padding: 2%;
  border-radius: 20px;
  font-family: 'Cabin', sans-serif; }

.tabla {
  display: none; }

.bodyflex .table, .cotizacion .table {
  width: 100%;
  max-width: max-content;
  margin-bottom: 1rem;
  background-color: #fdfbfb;
  text-align: center;
  align-content: unset;
  align-items: center;
  align-self: center; }

.table .table-hover {
  display: flex;
  flex-direction: column;
  align-self: center;
  color: white;
  opacity: 1; }

/*-----------------------------EXTRACCIONES-----------------------------*/
.extracciones {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: cadetblue;
  width: max-content;
  margin: 2% auto;
  border-radius: 10px; }
  .extracciones__montoRetiro {
    margin: 3%; }
    .extracciones__montoRetiro--label {
      padding: 0.7%; }
    .extracciones__montoRetiro--input {
      height: 25px;
      width: 35%; }
  .extracciones__tipoRetiro {
    display: flex;
    justify-content: space-around; }
    .extracciones__tipoRetiro--label {
      padding: 0.7%;
      margin: 0 1% 0 0; }
    .extracciones__tipoRetiro--input {
      height: 25px;
      width: 33%;
      margin: 0 0 3% 0; }

#tipoRetiro, #plazoFijo__plazo {
  height: 30px;
  margin: 0 0 2% 0;
  border-radius: 10px;
  border: 1px solid cadetblue; }

.tipoRetiroLabel {
  padding: 0;
  margin: 0 15% 0 0; }

.botonesExtracciones {
  text-align: center; }

.okRetiro {
  color: white;
  background-color: #59f27f;
  width: max-content;
  margin: 1% auto;
  padding: 2%;
  border-radius: 20px;
  font-family: 'Cabin', sans-serif; }

.failRetiro {
  color: white;
  background-color: #f2d359;
  width: max-content;
  margin: 1% auto;
  padding: 2%;
  border-radius: 20px;
  font-family: 'Cabin', sans-serif; }

.instruccionesRetiro {
  text-align: center;
  color: white;
  background-color: #82b2f0;
  width: max-content;
  margin: auto;
  padding: 1%;
  border-radius: 10px;
  font-family: 'Cabin', sans-serif; }

/*-----------------------------OPERACIONES-----------------------------*/
.bodygridOperaciones {
  display: grid;
  grid-template-columns: 1fr 0.8fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "izq1 centro1 der1" "izq2 centro2 der2"; }

.h1Operaciones, .h1Cuenta, .h1Clientes {
  width: max-content;
  height: fit-content;
  grid-area: centro1;
  opacity: 1; }

.cotizacion {
  grid-area: centro2;
  text-align: center;
  justify-self: center; }
  .cotizacion h3 {
    display: block;
    margin: 6% auto 6%; }

.plazoFijoDer {
  grid-area: der2;
  text-align: left;
  display: block;
  margin: 6% auto 6%; }
  .plazoFijoDer h3 {
    display: block; }

.plazoFijo {
  background-color: cadetblue;
  border-radius: 15px; }
  .plazoFijo__monto--label {
    margin: 1% 0 0 27%;
    padding: 1%; }
  .plazoFijo__monto--input {
    width: auto;
    margin: 0 0 0 22%; }
  .plazoFijo__plazo--label {
    margin: 0 0 0 30%; }
  .plazoFijo__interes--input {
    width: auto;
    margin: 0 0 4% 22%; }
  .plazoFijo__interes--label {
    margin: 1% 0 0 25%;
    padding: 1%; }

.plazoFijoDer h3 {
  text-align: center; }

.plazoFijo__boton {
  text-align: center; }

#plazoFijo__boton--calculo, .btnCompraUSD {
  margin: 3%;
  outline: none; }
  #plazoFijo__boton--calculo:hover, .btnCompraUSD:hover {
    opacity: 0.7; }

.compraDolaresIzq {
  grid-area: izq2;
  margin: 1% 4% 6%; }
  .compraDolaresIzq h3 {
    display: block;
    text-align: center;
    margin: 4% auto 4%; }

.compraDolares {
  background-color: cadetblue;
  border-radius: 15px;
  text-align: center; }
  .compraDolares__monto {
    display: flex;
    flex-direction: column; }
    .compraDolares__monto--input {
      width: 40%; }
    .compraDolares__monto--label {
      text-align: center; }
  .compraDolares__costo {
    display: flex;
    flex-direction: column; }
    .compraDolares__costo--input {
      width: 40%; }
    .compraDolares__costo--label {
      text-align: center; }

#tablaDolar {
  border-radius: 10px; }
  #tablaDolar thead {
    border-top-style: hidden; }

.tasas ul {
  color: white;
  font-family: 'Cabin';
  background-color: #2f8e62;
  width: max-content;
  padding: 2% 3% 2% 6%;
  border-radius: 10px;
  margin: auto; }

.linkExtr {
  grid-area: izq2;
  align-self: end;
  justify-self: center; }
  .linkExtr button {
    margin-bottom: 100%;
    font-size: 1.6rem; }
    .linkExtr button a {
      color: white;
      text-decoration-line: none; }

/*-----------------------------CUENTAS-----------------------------*/
.cuentas {
  display: flex;
  flex-direction: column; }
  .cuentas__label {
    text-align: center; }
  .cuentas__input {
    width: auto; }
  .cuentas__display {
    width: auto; }

.display__label {
  text-align: center; }

#okCompra, #okPlazo {
  color: white;
  background-color: #59f27f;
  width: max-content;
  padding: 2%;
  border-radius: 20px;
  font-family: 'Cabin', sans-serif;
  display: none;
  height: fit-content;
  font-size: 1.3em;
  margin: auto; }
