body {
  background-image: url(../Images/fondo.jpg);
  margin: 0; }

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #2f8e62; }
  .navbar a {
    text-decoration: none;
    color: white;
    font-family: 'Benne', serif;
    font-size: 1.2rem; }
    .navbar a:hover {
      color: #9dafcb; }

.bodyflex {
  display: flex;
  flex-direction: column; }

.TablaDatos {
  text-align: center;
  color: aliceblue;
  background-color: cadetblue; }

.validacion, .registro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10% 0 0 0;
  justify-content: center;
  width: max-content;
  margin: 0 auto; }
  .validacion__usuario, .registro__usuario {
    display: ruby;
    margin: 5% auto 5%; }
  .validacion__apellido--input, .registro__apellido--input {
    margin: 0 0 0 1.3%; }
  .validacion__clave, .registro__clave {
    display: ruby;
    margin: 5% 0 0 0; }
    .validacion__clave--input, .registro__clave--input {
      margin: 0 0 0 9%; }

.boton {
  margin: 5% 0 0 0;
  height: 30px; }

#boton {
  width: max-content;
  margin: 10% auto;
  padding: 1%;
  background-color: #71dbb3;
  border: aliceblue;
  border-radius: 20px;
  font-family: 'Cabin', sans-serif; }

#botonValidacion, #botonRegistro, #botonEnvioRegistro {
  margin: 3% auto 0;
  width: max-content;
  font-size: 1.2rem;
  background-color: darkcyan;
  color: aliceblue;
  border: aliceblue;
  border-radius: 5px;
  padding: 1% 3% 1%;
  font-family: 'Cabin', sans-serif; }
  #botonValidacion__link, #botonRegistro__link, #botonEnvioRegistro__link {
    text-decoration: none;
    color: aliceblue; }
    #botonValidacion__link:hover, #botonRegistro__link:hover, #botonEnvioRegistro__link:hover {
      color: #9dafcb; }

.botones {
  text-align: center; }

label {
  color: white;
  background-color: cadetblue;
  border-radius: 4px;
  padding: 1%;
  text-align: center;
  margin: 5% 0 0 0;
  font-family: 'Cabin', sans-serif;
  display: ruby-base-container;
  font-size: 1.3rem; }

#claveValidacion {
  margin: 0 0 0 6.3%; }

h1 {
  text-align: center;
  background-color: #104146;
  border-radius: 10px;
  padding: 1%;
  color: #ffffff;
  display: block;
  margin: 5% auto;
  font-family: 'Cabin', sans-serif; }

#bienvenidaUsuario {
  background-color: #42db61;
  text-align: center;
  color: white;
  border-radius: 20px;
  padding: 0 10px 0 10px;
  margin: 2% auto;
  font-family: 'Cabin', sans-serif;
  height: max-content;
  width: max-content; }

#error {
  background-color: #bd280e;
  text-align: center;
  color: white;
  border-radius: 20px;
  padding: 0 10px 0 10px;
  margin: 1% auto;
  font-family: 'Cabin', sans-serif;
  height: max-content;
  width: max-content; }

#link {
  text-align: center;
  text-decoration: none;
  color: aliceblue;
  background-color: cadetblue;
  width: max-content;
  margin: auto;
  border-radius: 5px;
  padding: 5px;
  font-family: 'Cabin', sans-serif; }
  #link:hover {
    color: #9dafcb; }

.errorRegistro {
  /*Mensaje de error cuando el usuario no completa algun campo de los inputs*/
  color: white;
  background-color: #f2d359;
  width: max-content;
  margin: 5% auto;
  padding: 2%;
  border-radius: 20px;
  font-family: 'Cabin', sans-serif; }
