body {
    background-image: url(../Images/fondo.jpg);
    margin: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #2f8e62;
    a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-family: 'Benne', serif;
        font-size: 1.2rem;
        &:hover {
            color: darken($color: #e3e8f0, $amount: 21);
        }
    }
}

.bodyflex {
    display: flex;
    flex-direction: column;
}
.TablaDatos {
    text-align: center;
    color: aliceblue;
    background-color: cadetblue;
}

.validacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10% 0 0 0;
    justify-content: center;
    width: max-content;
    margin: 0 auto;
}

.boton {
    margin: 5% 0 0 0;
    height: 30px;
}
#boton {
    width: max-content;
    margin: 10% auto;
    padding: 1%;
    background-color: #71dbb3;
    border: aliceblue;
    border-radius: 20px;
    font-family: 'Cabin', sans-serif;
}

label {
    color: aliceblue;
    background-color: cadetblue;
    border-radius: 4px;
    padding: 0.5%;
    text-align: center;
    margin: 5% 0 0 0;
    font-family: 'Cabin', sans-serif;
}

h1 {
    text-align: center;
    background-color: #104146;
    //width: max-content;
    border-radius: 10px;
    padding: 1%;
    color: #ffffff;
    display: block;
    margin: 5% auto;
    font-family: 'Cabin', sans-serif;
}
#bienvenidaUsuario {
    background-color: #42db61;
    text-align: center;
    color: white;
    border-radius: 60px;
    padding: 5px;
    font-size: 1.5rem;
    font-family: 'Cabin', sans-serif;
}
#link {
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    background-color: cadetblue;
    width: max-content;
    margin: auto;
    border-radius: 5px;
    padding: 5px;
    font-family: 'Cabin', sans-serif;
    &:hover {
        color: darken($color: #e3e8f0, $amount: 21);
    }
}